.Card {
  cursor: pointer;
  background-color: white;
  margin: auto;
  margin-bottom: 5px;
  text-align: left;
  padding: .625em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);

  &__mission_name {
    font-weight: bold;
  }

  &__launch_date {
    font-size: 14px;
  }

  &__launch_status {
    text-align: right;
    color: green;
    margin-right: 16px;

    &--failed {
      color: red;
    }
  }
}
.Card:hover {
  background-color: #ededed;
}
